main.pagina--principal section.quarta--secao {
    display: flex;
    padding: 6rem 3rem;
    justify-content: space-between;
    align-items: center;
    background: #eee;
}

main.pagina--principal section.quarta--secao div.img img{
    max-width: 100%;
}

main.pagina--principal section.quarta--secao div.info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    order: -1;
}

main.pagina--principal section.quarta--secao div h2,
main section.quarta--secao div p {
    width: 90%;
}

main.pagina--principal section.quarta--secao h2 {
    font-weight: 600;
    font-size: 2.6rem;
    margin-bottom: 1rem;
}

main.pagina--principal section.quarta--secao div p {
    font-size: 1.4rem;
    margin-bottom: 3rem;
}

@media screen and (max-width: 768px) {
    main.pagina--principal section.quarta--secao {
        flex-direction: column;
        justify-content: center;
    }

    main.pagina--principal section.quarta--secao img {
        width: 100%;
        height: 60vh;
        max-width: 768px;
    }

    main.pagina--principal section.quarta--secao div {
        width: 100%;
        margin-bottom: 1.5rem;
    }

    main.pagina--principal section.quarta--secao div h2 {
        font-size: 2rem;
    }

    main.pagina--principal section.quarta--secao div p {
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }

}