section.lista--denuncia div.card--denuncia {
    max-width: 300px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 1rem;
}

section.lista--denuncia div.card--denuncia .titulo {
    color: #111827;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
    border-bottom: 1px solid #ccc;
}

section.lista--denuncia div.card--denuncia .descricao {
    margin-top: 0.5rem;
    color: #4c4e52;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

section.lista--denuncia div.card--denuncia .local {
    margin-top: 0.5rem;
    color: #4c4e52;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

section.lista--denuncia div.card--denuncia .local span {
    font-weight: 600;
    color: #000;
}