main.usuario--logado {
    display: flex;
    justify-content: space-between;
}

main.usuario--logado h1 {
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 0.2rem;
}

main.usuario--logado nav{
    background: #222;
    color: #fff;
    width: 25%;
    padding: 1rem 0.7rem;
    max-width: 350px;
    flex-direction: column;
    position: sticky;
    top: 0;
}

main.usuario--logado nav li.btn--sair{
    margin-top: 2rem;
}

main.usuario--logado section{
    width: 75%;
    padding: 1rem;
    max-width: 1200px;
    margin-left: 5%;
}

main .navegacao--denuncias img.icone--fechar {
    cursor: pointer;
    margin: 0 0.5rem 1.5rem 0;
    align-self: flex-end;
}

main .navegacao--denuncias.mostrar {
    display: flex;
}

main .navegacao--denuncias.esconder {
    display: none;
}

main.usuario--logado img.abrir--menu {
    cursor: pointer;
    position: fixed;
    margin-top: 1rem;
}

@media screen and (max-width:938px) {
    main .navegacao--denuncias{
        display: none;
    }

    main .navegacao--denuncias.mostrar {
        width: 100%;
    }
}